@using KnapSoft.Models.ViewModels
@model SolutionViewModel
<div class="col-lg-15">
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div>
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div>
        <label>Monthly Price</label>
        <input asp-for="MonthlyPrice" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="LargeDescription" class="form-label">HTML rozšířený popis</label>
        <textarea asp-for="LargeDescription" rows="15" class="form-control font-monospace" placeholder="Vložte vlastní HTML (Bootstrap)..."></textarea>
        <span asp-validation-for="LargeDescription" class="text-danger"></span>
    </div>

    <div>
        <label>Products</label>
            @for (int i = 0; i < Model.Products.Count; i++)
            {
                <div>
                    <input type="checkbox" asp-for="@Model.Products[i].IsSelected" />
                    <input type="hidden" asp-for="@Model.Products[i].ProductId" />
                    @Model.Products[i].Name
                </div>
            }
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>
</form>
</div>
