@page
@model IndexModel
@{
    ViewData["Title"] = "Nastavení profilu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<!-- OBSAH PO NAČTENÍ -->
<div id="dashboard-content">
    <h1 class="dashboard-title">👤 Nastavení profilu</h1>

    <div class="dashboard-grid justify-content-center">
        <div style="max-width: 600px; width: 100%; padding: 1rem; margin: 0 auto;">
            <partial name="_StatusMessage" for="StatusMessage" />

            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Zadejte uživatelské jméno" disabled />
                    <label asp-for="Username" class="form-label"></label>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Zadejte tel. číslo" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="update-profile-button" type="submit" class="w-100 btn btn-primary">💾 Uložit změny</button>
            </form>
        </div>
    </div>
</div>
