@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Obnovení hesla";
}

<!-- CONTENT STYLED -->
<div id="dashboard-content">
    <h1 class="dashboard-title">🔒 Obnovení hesla</h1>
    <div class="row justify-content-center px-3">
        <div class="col-lg-6 mb-4">
            <div class="tile tile-info">
                <h5 class="text-white mb-3">Zadejte svůj e-mail a my Vám pošleme odkaz pro obnovení hesla.</h5>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control bg-dark text-white border-secondary" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="text-light">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger small"></span>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Odeslat odkaz na reset hesla</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
