@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrzení registrace";
}

<h1 class="mb-4 text-light">@ViewData["Title"]</h1>


    <div class="alert alert-success text-light">
        ✅ Potvrzovací e-mail byl odeslán. Zkontroluj svou schránku a potvrď registraci kliknutím na odkaz v e-mailu.
    </div>

